@charset "UTF-8";

body {
    background-color: gainsboro;
    text-align: center;
   /* margin: 0px;
    padding: 0px;*/
}

div > img#foto1 {
    width: 200px;
    left: 200px;
    border-radius: 150px;
    margin-top: 20px;
    margin-left: 0px;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.237);
}

header > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.642);
    color: white;
    border-radius: 25px;
    padding: 15px;
    margin-left: 0px;
    text-align: center;
    
}

div > img#foto2 {
    width: 200px;
    left: 200px;
    border-radius: 150px;
    margin-top: 20px;
    margin-left: 0px;
    box-shadow: 2px 2px 1px 1px #6f977f;
    
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-radius: 25px;
    padding: 15px;
    margin-left: 0px;
    text-align: center;
    background-color: #6f977f;
    
}

header > h1#link {
    color: aliceblue;
}